# ==========================
# 1. Maven (빌드 결과물)
# ==========================
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==========================
# 2. STS / Eclipse (IDE 설정)
# ==========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# ==========================
# 3. Windows (윈도우 시스템 파일)
# ==========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==========================
# 4. Mac OS (맥 시스템 파일, 혹시 모를 팀원을 위해 )
# ==========================
.DS_Store
._*

# ==========================
# 5. Logs & Others
# ==========================
*.log
.idea/
*.iml

### Secret Config ###
src/main/resources/application.properties