<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssook.mvc.repository.CommentMapper">
    <!-- 댓글 작성 -->
    <insert id="saveComment" parameterType="CommentEntity" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment(video_id, user_id, parent_id, content, is_deleted)
        VALUES (#{videoId}, #{userId}, #{parentId}, #{content}, #{isDeleted})
    </insert>

    <!-- 저장된 댓글 조회 -->
    <select id="findCommentById" parameterType="Long" resultType="CommentResponseDto">
        SELECT
            c.comment_id AS commentId,
            c.parent_id AS parentId,
            c.user_id AS userId,
            c.content AS content,
            u.nickname AS nickname,
            c.created_at AS createdAt,
            c.is_deleted AS isDeleted
        FROM comment c
        JOIN users u ON c.user_id = u.user_id
        WHERE c.comment_id = #{commentId}
    </select>

    <!-- 부모 댓글의 videoId 조회 -->
    <select id="findVideoIdByCommentId" parameterType="Long" resultType="Long">
        SELECT video_id
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

    <!-- 부모 댓글 목록 조회 -->
    <select id="selectParentComments" resultType="CommentResponseDto">
        SELECT
        c.comment_id AS commentId,
        c.user_id AS userId,
        c.content AS content,
        u.nickname AS nickname,
        c.created_at AS createdAt,
        c.is_deleted AS isDeleted
        FROM comment c
        JOIN users u ON c.user_id = u.user_id
        WHERE c.video_id = #{videoId} AND c.parent_id IS NULL
        ORDER BY c.created_at
        LIMIT  #{limit} OFFSET #{offset}
    </select>

    <!-- 부모 댓글의 대댓글 조회 -->
    <select id="selectRepliesByParentIds" resultType="CommentResponseDto">
        SELECT
        c.comment_id AS commentId,
        c.parent_id AS parentId,
        c.user_id AS userId,
        c.content AS content,
        u.nickname AS nickname,
        c.created_at AS createdAt,
        c.is_deleted AS isDeleted
        FROM comment c
        JOIN users u ON c.user_id =u.user_id
        WHERE c.parent_id IN 
        <foreach item="id" collection="parentIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY c.created_at
    </select>

    <!-- 전체 부모 댓글의 개수 -->
    <select id="countParentComments" resultType="int">
        SELECT COUNT(*)
        FROM comment
        WHERE video_id = #{videoId} AND parent_id IS NULL
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="CommentEntity">
        UPDATE comment
        SET
            content = #{content},
            updated_at = NOW()
        WHERE comment_id = #{commentId}
    </update>
</mapper>