<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssook.mvc.repository.VideoMapper">
    <!-- 영상 목록 조회 -->
    <select id="selectVideoList" parameterType="VideoListRequestDto" resultType="VideoResponseDto">
        SELECT v.video_id AS videoId, v.thumbnail_url AS thumbnailUrl, v.view_count AS viewCount,
        v.title AS title, v.video_url AS videoUrl,
        (SELECT COUNT(*) FROM comment cm WHERE cm.video_id = v.video_id AND cm.is_deleted = false) AS commentCount,
        (SELECT COUNT(*) FROM reaction r WHERE r.video_id = v.video_id) AS likeCount,
        (my_reaction.reaction_id IS NOT NULL) AS liked
        FROM video v
        LEFT JOIN category c ON v.category_id = c.category_id
        LEFT JOIN reaction my_reaction ON v.video_id = my_reaction.video_id AND my_reaction.user_id = #{userId}
        WHERE 1=1

        <if test="categoryName != null and categoryName != ''">
            AND c.category_name = #{categoryName}
        </if>
        <if test="categoryId != null">
            AND v.category_id = #{categoryId}
        </if>

        ORDER BY
        <choose>
            <when test="sortedType == 2">
                v.view_count DESC, v.created_at DESC
            </when>
            <otherwise>
                v.created_at DESC
            </otherwise>
        </choose>

        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 영상 상세 조회 -->
    <select id="selectVideoDetail" resultType="VideoDetailResponseDto">
        SELECT v.video_id AS videoId, v.video_url AS videoUrl, v.thumbnail_url AS thumbnailUrl, v.title AS title, v.view_count AS viewCount,
        (SELECT COUNT(*) FROM reaction r WHERE r.video_id = v.video_id) AS likeCount,
        (SELECT COUNT(*) FROM comment c WHERE c.video_id = v.video_id AND c.is_deleted = false) AS commentCount,
        EXISTS(SELECT 1 FROM reaction r WHERE r.video_id = v.video_id AND r.user_id = #{userId}) AS liked,
        EXISTS(SELECT 1 FROM subscription s WHERE s.category_id = v.category_id AND s.user_id = #{userId}) AS subscribed

        FROM video v
        WHERE v.video_id = #{videoId}
    </select>
    
    <!-- 조회수 증가 -->
    <update id="increaseViewCount" parameterType="long">
        UPDATE video
        SET view_count = view_count + 1
        WHERE video_id = #{videoId}
    </update>
</mapper>